*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0 auto;
    padding: 0;
    width: 1920px;
}
/* шапка*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 1420px;
    margin: 0 auto;
}
header .imglogo{
    text-align: center;
    margin-top: 20px;

}
header .imglogo img{
    width: 120px;
    height: auto;
}
header button{
    width: 200px;
    height: 50px;
    background: linear-gradient(238.35deg, #155CC6 41.71%, #317DEF 53.41%, #155CC6 66.42%);
    border: none;
    border-bottom:10px solid #0A4CAE ;
    font-size: 20px;
    color: #fff;
}
header .divimg{
    display: none;
}
header .menu{
    padding-top: 8px;
    padding-bottom: 8px;
    background: #155CC6 ;
}
header .menu ul{
    list-style: none;
    display: flex;
    font-size: 20px;
    padding: 0;
    gap: 50px;
    justify-content: center;
}
header .menu ul li a{
    text-decoration: none;
    color: rgb(226, 226, 226);
}
.phone{
    color: rgb(19, 82, 219);
    font-size: 18px;
}

/*section*/

.news{
    margin-left: 250px;
}
.block1{
    display: flex;
    gap: 220px;
}
.block1 img{
    width: 600px;
    height: auto;
}
.n-number .n1, .n2{
    margin-bottom: 80px;
}
h1{
    font-size:30px ;
}
.n-number a{
    color: #155CC6;
    font-size: 22px;
}
.news-date{
    font-size: 16px;
    color: rgb(85, 85, 85);
    font-style: italic;
    margin-bottom: 20px;
}

.block1{
    background: #e8eef5;
    padding: 35px;
    border-radius: 30px;
    width: 1420px;
    color: #155CC6;
}
.block1 mark{
    background-color: #155CC6;
    color: #fff;
}
form {
    display: flex;
    
    flex-direction: column;
    margin: 0 auto;
    width: 1000px;
}
input{
    width: 780px;
    margin-bottom: 20px;
    padding: 10px;
}
textarea {
    width: 780px;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
}
.btn{
    width: 150px;
    height: 40px;
    background: linear-gradient(238.35deg, #155CC6 41.71%, #317DEF 53.41%, #155CC6 66.42%);
    border: none;
    border-bottom:5px solid #0A4CAE ;
    font-size: 16px;
    color: #fff;
    
}
/*подвал*/
footer{
    background: linear-gradient(180deg, #155CC6 0%, #317DEF 48.96%, #155CC6 100%);
    display: flex;
    align-items: center;
    padding: 70px 0;
    margin-top: 100px;
}
.menu-footer ul{
    list-style: none;
    padding: 0;
}
.menu-footer ul li a{
    list-style: none;
    text-decoration: none;
    color: #fff;
    padding-bottom: 10px;
    font-size: 14px;
}
.phone-footer p{
    font-size: 24px;
    color: #ffffff;
    margin-left: 0px;
    float: left;
}
.navigate-footer .imglogo img{
    width: 150px;
    height: auto;
}
.navigate-footer .icon{
    width: 290px;
}
.navigate-footer .icon img{
    float: right;
    padding-left: 25px;
}
.navigate-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
    width: 100%;
}